/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #f8f7f4;
    --color-de-fondo-menu: #494b4d;
    --color-de-link: #000000;
    --color-de-titulos: #d6d7d8;
}

small{
    display: none;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    /*box-sizing: border-box;*/
    padding: 4rem;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    justify-content: space-between;
    /*padding: 1rem;*/
    /*var(--color-de-fondo-menu);*/
    background-color:#C48B51;
    align-items: center;
    
}

.cabecera__logo {
     /* Ajuste para pantallas pequeñas */
    
}

.cabecera__titulo {
    font-size: 1rem;
    align-items: start;

}

.navegacion__lista {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 15px;
}
.navegacion__elemento a {
    font-size: 1rem;
}


/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion{
    display: flex;
    gap: 15px;

}
.presentacion__titulo{
    font-size: 3rem;
}
.redes{
    display: flex;
    align-items: start;
    gap: 15px;
    padding: 0;
    
}
.presentacion__foto{
    width: 300px;
    border-radius: 50%;
    padding-top: 15px;

}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi__titulo{
    display: flex;
    background-color: var(--color-de-titulos);
}
.sobre-mi__firma{
    width: 200px;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__titulo{
    display: flex;
    justify-content: center;
    background-color: var(--color-de-titulos);
}
.habilidades__lista{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
    
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones__titulo{
    display: flex;
    justify-content: center;
    background-color: var(--color-de-titulos);
}
.aficiones__lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    
}

/*------------------------------ Sección de Formación --------------------------------*/


.formacion__titulo{
    display: flex;
    justify-content: center;
    background-color: var(--color-de-titulos);
}


.formacion__lista{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

    

.formacion__icono{
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    
    
    
}


/*------------------------------ Sección de Experiencia  --------------------------------*/
.proyectos{

    
}
.proyectos__titulo{
    display: flex;
    justify-content: center;
    background-color: var(--color-de-titulos);
}
.proyectos__contenedor{
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 30px;
}
.proyectos__contenedor__img{
    width: 800px;
}
.proyectos__contenedor__botones{
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    line-height: 20px;
    
}
.proyectos__descripcion{
    font-weight: 400;
}
.botones{
    display: flex;
    gap: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 40px;

}
.boton_1{
    border: 2px solid cadetblue; 
    color: cadetblue;
    width: 1200;
    padding: 10px 0;
    border-radius: 15px;

    
     
}
.boton_2{
    border: none;
    background-color: cadetblue;
    color: #ffffff;
    width: 120px;
    padding: 10px 0;
    border-radius: 15px;
    
}

/*------------------------------ Sección de Contacto --------------------------------*/
.contacto_1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
    gap: 30px;

}
.img_telefono{
   padding-top: 30px;

}
.contacto_1{
    
}
.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
    
    
}
.contacto__campo{
    height: 30px;

}
.contacto__campo__textarea{
    height: 100PX;
}
.contacto__boton{
    width: 200px;
    background-color: cadetblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #F5F5F5;
    padding: 5px 0;

}
/*------------------------------ Sección de Footer --------------------------------*/

.footer{
    text-align: center;
    line-height: 5px;
    padding-top: 60px;
    gap: 40px;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Moviles */
@media (max-width: 480px) {
   .presentacion{
    display: block;
   }
   .formacion__lista{
    display: block;
   }
   .proyectos__contenedor__img{
    width: 90%;
   }
   .contacto_2{
    width: 50%;
   }
   .contacto__campo{
    width: 50%;
   }
   .contacto__campo__textarea{
    width: 50%;
   }
}
/* Tablets y pantallas más grandes */
@media (max-width: 768px) {
    .navegacion__lista{
        display: none;
    }
    .presentacion__titulo{
        font-size: 1.5rem;
    }
    .formacion__icono{
        width: 90%;
    }
    .proyectos__contenedor{
        display: block;
    }
    .proyectos__contenedor__img{
    width: 90%;
    }

    .img_telefono{
        display: none;
    }
    .contacto__formulario{
        width: 40rem;
    }
}
   

/* Pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    
}